// background and font color variables
$primary-background: #4d4e4f;
$secondary-background: #9A9DAB;
$card-background: #ffffff;
$activity-card-color: #DFE166;
$hydration-card-color: #5BC8AC;
$sleep-card-color: #EC96A4;
$primary-border: 1px solid #000000;
$primary-text-color: #000000;
$secondary-text-color: #4d4e4f;
$header-text-color: #ffffff;
$button-hover-color: #4d4e4f;

// font size/ style variables
$primary-font-family: 'Open Sans';
$secondary-font-family: sans-serif;

$font-xs: 1em;
$font-small: 1.2em;
$font-medium: 1.5em;
$font-large: 2em;

$font-bold: bold;
$font-xbold: bolder;
$font-lighter: lighter;

$font-styled: italic;
