* {
  margin: 0;
}

body {
  font-family: 'Open Sans';
  margin: 0;
  background-color: #4d4e4f;
  height: auto;
}

h1 {
  text-align: center;
  color: #ffffff;
  height: 80px;
  padding-top: 10px;
}

.main {
  display: flex;
  flex-direction: row;
}

.main-sidebar-body {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 25%;
}

.body-sidebar-sidebarContainer {
  align-items: center;
  background-color: #9A9DAB;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  text-align: center;
}

.sidebar-header-name {
  text-align: center;
}

.sidebar-header-userInfo {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin: .5em .5em .5em .5em;
  width: inherit;
}

.sidebar-header-line {
  border: 1px solid black;
  color: #ffffff;
  height: 0;
  margin: 1em 1em 0 1em;
  width: 80%;
}

.sidebar-header-userImage {
  border-color: black;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  height: 200px;
  justify-content: center;
  margin: 4px 2px 2px 2px;
  width: 200px;
}

.sidebar-body-friendContainer {
  display: flex;
  flex-direction: column;
}

.sidebar-friendContainer-listItems {
  text-align: left;
}

.body-main-infoContainter {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 0 1em;
  overflow: scroll;
  width: 100%;
}

.main-column-hydration {
  display: flex;
  flex-direction: row;
  height: 25%
}

.main-column-activity {
  display: flex;
  flex-direction: row;
  height: 50%
}

.main-column-sleep {
  display: flex;
  flex-direction: row;
  height: 35%
}

.infoContainer-cardContainer-card-horizontal {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;
  width: 100%;
}

.horizontalCard-activity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: scroll;
  width: 100%;
}

.infoContainer-cardContainer-card-vertical {
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: 1%;
  overflow: scroll;
  width: 100%;
}

.card-today-hydration {
  background-color: #5BC8AC;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1.5em;
  height: auto;
  justify-content: space-between;
  margin: .5em;
  text-align: center;
  width: 80%;
}

.card-today-sleep {
  background-color: #EC96A4;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1.5em;
  height: auto;
  justify-content: space-between;
  margin: .5em;
  text-align: center;
  width: 80%;
}

.card-today-activity {
  background-color: #DFE166;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1.5em;
  height: auto;
  justify-content: space-between;
  margin: .3em;
  padding: 9%;
  text-align: center;
  width: 40%;
}

.card-history-hydration {
  background-color: #5BC8AC;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1em;
  justify-content: flex-start;
  margin: .5em;
  text-align: center;
  width: 100%;
}

.card-history-sleep {
  background-color: #EC96A4;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1em;
  justify-content: flex-start;
  margin: .5em;
  text-align: center;
  width: 100%;
}

.card-history-activity {
  background-color: #DFE166;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 1em;
  height: 93%;
  justify-content: flex-start;
  margin: .5em;
  overflow: scroll;
  text-align: center;
  width: 50%;
}

.number {
  color: #4d4e4f;
  font-kerning: normal;
  font-size: 2em;
  font-weight: bolder;
}

.historicalWeek {
  color: black;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  text-align: center;
}

.thisWeek {
  color: black;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  text-align: center;
}

.card-vertical-list {
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  list-style-type: none;
  padding-left: 0;
}

.historical-list-listItem {
  font-family: sans-serif;
  font-weight: bold;
  padding: .3em;
}
p {
  text-align: center;
}


// POST FORM FOR NEW DATA
.post-form-container {
  background-color: white;
  border: 1px solid black;
  padding: .5rem;
  margin: .6rem;
}

.post-form {
  background-color: #9A9DAB;
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

#add-activity-header {
  padding: .5rem;
  text-align: center;
}

.activity-input {
  margin: .2rem;
  padding: .2rem;
}

#activityTodayDate,
#activityTodayHydration,
#activityTodayActivity,
#activityTodaySleep {
  display: flex;
  flex-direction: column;
  margin: .2rem;
}

#submit-new-activity-button {
  font-size: 16px;
  padding: .2rem;
  margin: .2rem;
  width: 50%;
}

#submit-new-activity-button:hover {
  background-color: #4d4e4f;
  border: none;
  color: white;
  cursor: pointer;
}
